<% wrap_layout :inner do %>
    <% content_for :sidebar do %>
        <div class="docs-sidebar hidden-print affix-top" role="complementary">
            <ul class="nav docs-sidenav">
                <li<%= sidebar_current("docs-home") %>>
                    <a href="/docs/providers/index.html">All Providers</a>
                </li>
                <li<%= sidebar_current("docs-oraclepaas-index") %>>
                    <a href="/docs/providers/oraclepaas/index.html">Oracle Cloud Platform Provider</a>
                </li>
                <li<%= sidebar_current("docs-oraclepaas-datasource") %>>
                <a href="#">PaaS Data Sources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-oraclepaas-datasource-database-service-instance") %>>
                            <a href="/docs/providers/oraclepaas/d/oraclepaas_database_service_instance.html">oraclepaas_database_service_instance</a>
                        </li>
                    </ul>
                </li>
                <li<%= sidebar_current("docs-oraclepaas-resource") %>>
                <a href="#">PaaS Resources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-oraclepaas-resource-database_service_instance") %>>
                            <a href="/docs/providers/oraclepaas/r/oraclepaas_database_service_instance.html">oraclepaas_database_service_instance</a>
                        </li>
                        <li<%= sidebar_current("docs-oraclepaas-resource-java-service-instance") %>>
                           <a href="/docs/providers/oraclepaas/r/oraclepaas_java_service_instance.html">oraclepaas_java_service_instance</a>
                        </li>
                        <li<%= sidebar_current("docs-oraclepaas-resource-database-access-rule") %>>
                            <a href="/docs/providers/oraclepaas/r/oraclepaas_database_access_rule.html">oraclepaas_database_access_rule</a>
                        </li>
                        <li<%= sidebar_current("docs-oraclepaas-resource-java-access-rule") %>>
                            <a href="/docs/providers/oraclepaas/r/oraclepaas_java_access_rule.html">oraclepaas_java_access_rule</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    <% end %>

    <%= yield %>
<% end %>
